body
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#circle
{
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: #424242;
    width: 4em;
    height: 4em;
    border-radius: 100rem;
}